@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.left-50 {
  left: 50%;
}
.right-50 {
  right: 50%;
}
.top-50 {
  top: 50%;
}

.-z-1 {
  z-index: -1;
}
.nav-dot:hover span {
  opacity: 1;
}
section{
  @apply pt-6 md:pt-12;
}

.secondary-title {
  @apply text-4xl font-bold my-5;
}

.water-text{
  @apply text-accent;
 font-size:12rem;
 opacity:0.05;
 position:absolute;
 z-index:-1;
 margin-top:-6rem;
 font-weight: bold;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl ;
}
.badge {
  @apply px-4 py-2 text-sm rounded bg-accent;
}
[id] {
  scroll-margin-top: 100%;
}
.left-precentage {
  left: 3%;
}
.nav-square {
  transition: background 200ms;
}

.nav-square:hover span {
  opacity: 1;
  z-index:20;
}
.icon {
  @apply text-accent;
  padding-top:0.3rem;
  margin-right: 0.75rem;
  font-size:2rem;
  
}
.active {
  @apply bg-accent;
}
.hero-img {
  padding-top: 2rem;
  max-height: 30rem;
}
.button{
 @apply px-4 py-2 my-2 border border-accent flex items-center font-bold text-accent hover:bg-secondary-10  text-lg;
 transition: ease-in-out 0.3s;
}
.project{
  @apply mb-10 md:mb-5;
}
.description{
  @apply h-full -mb-5 ml-4 md:ml-0  mt-5 md:mt-20 w-full md:w-2/3 p-3  bg-dark z-10;
}
.form-container{
  @apply h-full    mt-5 w-full bg-transparent z-10;
}

.about-text{
  @apply h-full    mt-5  w-full md:w-2/3 p-3  bg-dark z-10;
}
.btn{
  @apply mx-2 px-2 py-1 text-xs font-bold text-accent bg-secondary-10;
}

.social-box{
  @apply flex flex-row justify-start items-center my-2;
}

.project{
  @apply mt-10 md:mt-20;
}
.picture{
  @apply md:w-1/2 border-2 md:border-0 lg:border-2  border-accent z-0;
}
@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes drop{
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
.animate-right{
  animation:right-move 1s;
}
.animate-left{
  animation:left-move 1s;
}
.animate-drop{
  animation:drop 1s;
}

.img-l:hover{
  transform:translate(20px,20px);
  transition: transform 0.5s ;
  @apply border-2;
}
.img-r:hover{
  transform:translate(-20px,20px);
  transition: transform 0.5s;
  @apply border-2;
}
.input-box{
  @apply relative border border-accent focus-within:border-accent my-5;
}
.input-box .box{
 @apply block p-2 md:p-4 w-full text-lg appearance-none focus:outline-none bg-transparent;
}
.input-box .label{
  @apply absolute bg-body top-0 text-lg border-accent p-2 md:p-4 -z-1 duration-300 origin-0; 
}
.input-box .box:focus-within ~ label,
.input-box .box:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0;
}
.box:focus-within ~ label {
  @apply text-accent;
}

.active{
  display: block;
}    
.mobile-menu{
  @apply bg-secondary-75;
  z-index: 20;
  right:-20rem;
  top:0;
  position:fixed;
  width:70%;
  height: 100%;
  margin:0;
  transition:0.5s;
}
.active-nav{
  right:0;
}

.face{
  max-width:20rem;
  max-height:20rem;
}


/* hamburger navi icon */

#nav-icon3 {
  width: 20px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
 #nav-icon3 span{
  @apply bg-accent;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}


