@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
/* * {
  border: 0.1px solid #626060;
} */

.left-50 {
  left: 50%;
}
.right-50 {
  right: 50%;
}
.top-50 {
  top: 50%;
}

.-z-1 {
  z-index: -1;
}
.nav-dot:hover span {
  opacity: 1;
}

.secondary-title {
  @apply text-4xl font-bold;
}
/* .secondary-title::before {
  content: "";
  @apply absolute block w-10 h-2 bg-accent  mb-1;
} */
.water-text{
  @apply text-accent;
 font-size:12rem;
 opacity:0.05;
 position:absolute;
 z-index:-1;
 margin-top:-6rem;
 font-weight: bold;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl ;
}
.badge {
  @apply px-4 py-2 text-sm rounded bg-accent;
}
[id] {
  scroll-margin-top: 100%;
}
.left-precentage {
  left: 3%;
}
.nav-square {
  transition: background 200ms;
}
.nav-square:hover span {
  opacity: 1;
}
.icon {
  margin-right: 0.75rem;
}
.active {
  @apply bg-accent;
}
.hero-img {
  max-height: 32rem;
}
@keyframes left-move {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes right-move {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes drop{
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
.animate-right{
  animation:right-move 1s;
}
.animate-left{
  animation:left-move 1s;
}
.animate-drop{
  animation:drop 1s;
}

.link i{
  font-size:1.5em;
}



